/* ===========================
   HERO SECTION
=========================== */

.Hero-section{
    position: relative;
    height: 850px;
    overflow: hidden;
}


.hero-image{
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
    display: block;

    z-index: 0;
}

/* ===========================
   HERO CONTENT
=========================== */

.Hero-content{
    position: absolute;

    top:200px;
    left: 7%;

    width: 420px;

    z-index: 2;
}

/* ===========================
   HEADING
=========================== */

.Hero-content h1{
    margin: 0;

    font-family: "Poppins", sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.15;

    color: #08154A;
}

.Hero-content span{
    color: #D61114;
}

/* ===========================
   PARAGRAPH
=========================== */

.Hero-content .Heropar{
    margin-top: 28px;

    width:420px;

    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 1.8;

    color: #08154A;
}

/* ===========================
   BUTTONS
=========================== */

.hero-buttons{
    display: flex;
    gap: 16px;

    margin-top: 32px;
}

.hero-buttons .btn{
    width:160px;

    height:54px;

    padding: 0 24px;

    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    font-family: "Poppins";
    font-size: 15px;
    font-weight: 500;
}

/* Donate */

.hero-buttons .btn:first-child{
    background: #D61114;
    border: none;
    color: white;
}

.hero-buttons .btn:first-child:hover{
    background: #B90C0F;
}

/* Learn */

.hero-buttons .btn:last-child{
    background: white;
    color: #08154A;

    border: 2px solid #D9D9D9;
}

.hero-buttons .btn:last-child:hover{
    background: #F7F7F7;
    color: #08154A;
}
.sticker
{
    height: 30px;
    width: 30px;
}


/* ===========================
   RESPONSIVE
=========================== */

@media (min-width:320px) and (max-width:425px){
    .statscard{
    background: #fff;
    border-radius: 24px;
    
    padding: 0px 20px;
    padding-top: 20px;

    box-shadow: 0 10px 35px rgba(0,0,0,.12);

    margin-top: 50px;
    margin-bottom: 30px;
}
    .sticker{
    width:22px;
    height:22px;
}

.mc h3{
    font-size:18px;
}

.mc p{
    font-size:13px;
}
.Hero-content .Heropar {
        max-width:230px;
        font-size:15px;
    line-height:1.55;
    margin-top:18px;
        font-weight: 800;
        color: #08154A;
        text-shadow: 0 2px 12px rgba(255, 255, 255, 0.8);
    }

    .Hero-section{

        height: auto;
    }

    .hero-image{

        position: absolute;
        height: 800px;
        top: 90px;
    object-position:25% center;
    }

    .Hero-content{

        position: relative;

        top:25px;
        left: 0;
        margin-top: 50px;
        transform: none;

        width: 100%;

        padding:20px 18px;
    }

    .Hero-content h1{
    font-size: 40px;
    line-height: 1.25;
    font-weight: 700;
    width: auto;
}

    

    .hero-buttons .btn{

        flex-direction: row;
    
    height:46px;
    padding: 0px 12px;
    font-size:15px;
    margin-top:20px;

    }

  

}
@media (min-width:425px) and (max-width:992px){
    .hero-image{

        position: absolute;
        top: 0px;
    object-position:25% center;
    }
   
    .Hero-content
    {
        top: 100px;
        left: 1%;
    }
    .Hero-content h1{
    font-size: 50px;
    line-height: 1.25;
    font-weight: 700;
    width: auto;
}
    .Heropar {
        max-width:300px;
        font-size:18px;
    line-height:1.55;
    margin-top:18px;
        font-weight: 800;
        color: #08154A;
        text-shadow: 0 2px 12px rgba(255, 255, 255, 0.8);
    }
    .statscard{
    background: #fff;
    border-radius: 24px;
    
    padding: 0px 20px;
    padding-top: 20px;

    box-shadow: 0 10px 35px rgba(0,0,0,.12);

    margin-top: 50px;
    margin-bottom: 30px;
}

}
@media (min-width:992px) and (max-width:1024px){
    .hero-image{

        position: absolute;
        top: 0px;
    object-position:25% center;
    }
   
    .Hero-content
    {
        top: 100px;
        left: 1%;
    }
    .Hero-content h1{
    font-size: 50px;
    line-height: 1.25;
    font-weight: 700;
    width: auto;
}
    .Heropar {
        max-width:550px;
        font-size:18px;
        line-height:1.55;
        margin-top:18px;
        font-weight: 800;
        color: #08154A;
        text-shadow: 0 2px 12px rgba(255, 255, 255, 0.8);
    }

}