.btn:hover{
    background: rgb(203, 26, 26) !important;
}

.discover-btn:hover{
    background: rgb(151, 4, 4) !important;
}

.left-img{
    transition: transform 1s ease;
}

.left-img:hover img{
    transform: scale(1.08);
}

.about-card {
    padding: 20px;
    border-radius: 16px;
    transition: all 0.35s ease;
}

.about-card:hover {
     transition: all 0.35s ease;
    transform: translateY(-6px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.08);
}

.about-card div:first-child {
    transition: transform 0.35s ease;
}

.about-card:hover div:first-child {
    transform: scale(1.1);
}

.about-card h2 {
    transition: color 0.3s ease;
}

.about-card:hover h2 {
    color: #D62828;
}

.program-card{
    position:relative;
    height:500px;
    overflow:hidden;
    border-radius:15px;
    cursor:pointer;
    transition: transform 1s ease;
}

.program-card:hover img{
    transform: scale(1.08);
     transition: transform 1s ease;
}

.program-overlay{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.35);
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    padding:25px;
}

.program-overlay h3{
    font-size:32px;
    font-weight:700;
}

.program-overlay p{
    opacity:0;
    max-height:0;
    overflow:hidden;
    transition:.4s;
    line-height:1.8;
}

.program-card:hover .program-overlay{
    background:rgba(0,0,0,.6);
}

.program-card:hover p{
    opacity:1;
    max-height:200px;
}

.program-icon{
    font-size:45px;
    margin-bottom:20px;
}

.circle-btn{
    width:60px;
    height:60px;
    border-radius:50%;
    border:2px solid white;
    background:transparent;
    color:white;
    font-size:28px;
    margin-top:20px;
    align-self:flex-end;
}

.circle-btn:hover{
    background:#D62828;
    border:none;
}
.impact-card{
    transition: 0.3s ease;
}

.impact-card:hover{
    transform: translateY(-8px);
}

