/* HERO SECTION */
.hero{
    width:100%;
    height:100vh;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    position:relative;
}

.overlay{
    width:100%;
    height:100%;
    background:rgba(0,0,0,.45);
    display:flex;
    align-items:center;
}

.hero-content{
    width:45%;
    margin-left:100px;
    color:white;
}

.hero-content h1{
    margin-top: 35px;
    font-size:70px;
    font-weight:700;
    line-height:1.15;
}



.hero-content p{
    margin-top:30px;
    font-size:18px;
    line-height:34px;
    color:#f3f3f3;
    width:90%;
}

.hero-buttons{
    display:flex;
    gap:20px;
    margin-top:40px;
}

.program-btn{
    background:#D62828;
    color:white;
    border:none;
    padding:16px 28px;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}

.program-btn:hover{
    background:#b71c1c;
}

.contact-btn{
    background:transparent;
    color:white;
    border:2px solid white;
    padding:16px 28px;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}
 .hero-content span{
    color:#D62828;
}
.contact-btn:hover{
    background:white;
    color:black;
}

/* ABOUT SECTION */

.about-section{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    padding-left: 50px;
}

.about-left{
    margin-top: 60px;
    margin-left: 60px;
    width: 50%;
}

.about-left img{
    margin-left: 50px;
    width: 95%;
    height: 500px;
    object-fit: cover;
    border-radius: 20px;
}

.about-right{
    margin-top: 80px;
    width: 50%;
}

.info-box{
    display: flex;
    align-items: flex-start;
    gap: 25px;
    padding-top: 25px ;
    padding-bottom: 25px ;
    margin-left: 30px;
}

.icon{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    flex-shrink: 0;
}

.blue{
    background: #D6DCFF;
    color: #16255F;
}

.pink{
    background: #FFD9DE;
    color: #E53935;
}

.text h2{
    font-size: 32px;
    font-weight: 700;
    color: #16255F;
    margin-bottom: 10px;
}

.text p{
    font-size: 18px;
    color: #444;
    line-height: 34px;
}

.about-right hr{
    border: none;
    border-top: 2px solid #D9D9D9;
}

/* PROGRAM SECTION */

.program-section{
    width:90%;
    margin:80px auto;
    text-align:center;
}

.program-heading{
    font-size:52px;
    color:#14235f;
    font-weight:700;
    text-align: center;
}

.heading-line{
    width:130px;
    height:5px;
    background:#df2027;
    margin:15px auto 35px;
    border-radius:20px;
}

.program-para{
    width:65%;
    margin:auto;
    font-size:21px;
    line-height:38px;
    color:#555;
}

.program-cards{
    margin-top:70px;
    display:flex;
    justify-content:space-between;
    gap:30px;
}

.program-card{
    width:24%;
    height:500px;
    border-radius:15px;
    overflow:hidden;
    position:relative;
    cursor:pointer;
}

.program-card img{
    width:100%;
    height:100%;
    object-fit:cover;
    transition: 0.4s;
}

.program-card:hover img{
    transform: scale(1.08);
}

.program-card:hover .card-overlay p{
    opacity: 1;
    max-height: 200px;
    margin-top: 15px;
}

.program-card:hover .card-overlay{
    background: rgba(0,0,0,.6);
}

.card-overlay{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.35);
    color:white;
    padding:25px;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    transition: 0.4s;
}

.card-overlay h3{
    font-size:34px;
    margin-bottom:15px;
}

.card-overlay p{
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s ease;
    font-size:19px;
    line-height:33px;
}

.mark{
    width: 80px;
    height: 80px;
    background: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;   
}

.mark svg{
    font-size: 44px;       
    color: #ffffff;      
}

.circle-btn{
    width:70px;
    height:70px;
    border-radius:50%;
    border:3px solid white;
    background:transparent;
    color:white;
    font-size:34px;
    margin-top:30px;
    cursor:pointer;
    align-self:flex-end;
}

.circle-btn:hover{
     background:#df2027;
     border:none;
}


.impact-section {
  padding: 0px 5%;
  background: #fff;
}

.impact-title {
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  color: #0d1b52;
}

.title-line {
  width: 110px;
  height: 5px;
  background: #d60000;
  margin: 12px auto 60px;
  border-radius: 5px;
}

.impact-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.impact-card {
  text-align: center;
  padding: 20px;
}

.border-right {
  border-right: 1px solid #222;
}

.icon-box {
  width: 85px;
  height: 85px;
  margin: auto;
  border-radius: 50%;
  background: #d4daff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  color: #18235b;
}

.impact-card h4 {
  margin: 20px 0 15px;
  font-size: 28px;
  color: #222;
  font-weight: 500;
}

.impact-card h1 {
  font-size: 69px;
  color: #d60000;
  margin: 10px 0;
  font-weight: bold;
}

.impact-card p {
  font-size: 18px;
  color: #222;
  line-height: 1.7;
}

/* Responsive */

@media (max-width: 992px) {
  .impact-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .border-right {
    border-right: none;
  }

  .impact-card {
    border: 1px solid #ddd;
    border-radius: 10px;
  }
}

@media (max-width: 576px) {
  .impact-grid {
    grid-template-columns: 1fr;
  }

  .impact-title {
    font-size: 32px;
  }

  .impact-card h1 {
    font-size: 55px;
  }

  .impact-card h4 {
    font-size: 22px;
  }

  .impact-card p {
    font-size: 16px;
  }
}


@media (max-width:768px){

.hero-content{
    width:90%;
    margin:auto;
    text-align:center;
}

.hero-buttons{
    justify-content:center;
}

.about-section{
    flex-direction:column;
}

.about-left,
.about-right{
    width:100%;
}

.program-cards{
    flex-direction:column;
}

.program-card{
    width:100%;
}

.program-para{
    width:100%;
}
}